{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shacol graphical user interface</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p></p>
            <center><a href="{% url 'colls' %}"><img src="{% static 'logo.png' %}"></a></center>
            <p></p>
            <!-- <center><a href="{% url 'colls' %}"><h1>Shacol GUI</h1></a></center> -->
        </div>
    </div>
    <div class="row">
        <center>
            <a href="{% url 'colls' %}">
                <button type="button" class="btn btn-info">Results table</button>
            </a>
            <a href="{% url 'graphs' %}">
                <button type="button" class="btn btn-info">Graphs</button>
            </a>
        </center>
    </div>
    {% block content %}
    {% endblock %}
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                TIC1
            </div>
            <div class="col-md-4">
                Gajdušek Ondřej, Štangler Jan, Chwastková Šárka
            </div>
            <div class="col-md-4">
                FEKT VUT 2017
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> commented - this is old version-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>

<script src="{% static 'theme/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.js"></script>
<script src="{% static 'js/bootstrap-confirmation.js' %}"></script>
<script src="{% static 'js/enable-confirmation.js' %}"></script>
