<!--{% extends 'base.html' %}
{% block content %}
<h2>Int method</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Input hash</th>
      <th>Total time</th>
      <th>Number of cycles</th>
      <th>Collision hash</th>
      <th>Hash order</th>
      <th>Test method</th>
      <th>Bits</th>
      <th>Git revision</th>
    </tr>
  </thead>
  <tbody>
    {% for coll in collisions %}
      <tr>
        <td>{{ coll.input_hash }}</td>
        <td>{{ coll.total_time }}</td>
        <td>{{ coll.cycles }}</td>
        <td>{{ coll.hash_order }}</td>
        <td>{{ coll.test_method }}</td>
        <td>{{ coll.bits }}</td>
        <td>{{ coll.git_revision }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
-->
